{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'kvak/game.css' %}?v=1.6">   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="informations" >
        <a class="one-information skip_komar" href="/kvak/game/{{ game_id }}/skip_komar/{{komar_frog}}">SKIP KOMAR</a>
        <div class="one-information"> - Na tahu hráč {{ hrac_na_tahu }} - </div>
        <div id="informations" class="one-information">

        </div>
    </div>
    <form action="/kvak/game/{{ game_id }}/play_move" class="board" method="post" id="board_form">
        {% csrf_token %}
        <input type="hidden" name="tile_id_1" id="tile_id_1">
        <input type="hidden" name="tile_id_2" id="tile_id_2">

        <input type="hidden" name="zaba_1_choice" id="zaba_1_choice" value="-1">
        <input type="hidden" name="zaba_2_choice" id="zaba_2_choice" value="-1">
        
        {% for tile_row in tiles %}
        <div class="row">
            {% for tile in tile_row %}
                <div class="tile zaba" onclick='tile_clicked("{{tile.number}}")' id="zaba_{{tile.number}}">
                    <div class="tile_image">
                        <img src="{% static 'kvak/images/' %}{{ tile.image }}" alt="">
                        <!-- {{ tile.image }} -->
                    </div>
                    

                    {% for zaba in tile.zaby %}
                        <div class="supreme_zaba {{zaba.color}} real_zaba" id="" onclick="zaba_pressed('{{ zaba.id }}')">
                            <img src="{% static 'kvak/images/' %}{{ zaba.image }}" alt="">
                        </div> 
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </form>
</body>
</html>

<script>
    function tile_clicked(tile_id) {
        console.log(tile_id)
        ele = document.getElementById("tile_id_1")
        ele2 = document.getElementById("tile_id_2")
        if (ele.value == "") {
            ele.value = tile_id
            prvni_tah(tile_id)
        } else if(ele2.value == "") {
            ele2.value = tile_id
            form = document.getElementById("board_form")
            form.submit()
        }

    }

    window.onload = init_from_args()
    function init_from_args() {
        if ("{{ premoved_frog }}") {
            ele = document.getElementById("tile_id_1")
            ele.value = "{{premoved_frog}}"
            prvni_tah("{{ premoved_frog }}")
        }
    }

    function prvni_tah(id) {
        document.getElementById("informations").innerHTML += " - První tah zadán - " + id
        color_frog(id)
    }

    function color_frog(id) {
        document.getElementById("zaba_" + id).style.backgroundColor = "cyan"
    }

    function zaba_pressed(id) {
        ele = document.getElementById("zaba_1_choice")
        ele2 = document.getElementById("zaba_2_choice")
        if (ele.value == -1) {
            ele.value = id
        } else if (ele2.value == -1) {
            ele2.value = id
        }
    }

    window.onload = fuck_css()
    function fuck_css() {
        console.log("FUCK")
        // get width
        tile = document.getElementsByClassName("tile")[0]
        h = tile.offsetWidth;
        elements = document.getElementsByClassName("tile_image")
        console.log(h)
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = h - 10 + "px"
        }

        elements = document.getElementsByClassName("supreme_zaba")
        for (i = 0; i < elements.length; i++) {
            elements[i].style.width = (h/2) - 10 + "px"
            // elements[i].style.height = (elements[i].offsetHeight - 10) + "px"
        }
    }
</script>