{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'kvak/game.css' %}?v=2">   
</head>
<body>
    <div class="board">
        {% for tile_row in tiles %}
        <div class="row">
            {% for tile in tile_row %}
                <div class="tile">{{ tile }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>